@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Scribble&display=swap');

* {
  box-sizing: border-box;
}

.title {
	margin-top: 7vw;
	margin-bottom: 4vw;
	font-family: "Rubik Scribble", system-ui;
	font-size: 10vw;
}

.center {
	text-align: center;
}

.output {
	margin-top: 4vw;
	font-size: 5vw;
	font-family: "Madimi One", sans-serif;
}